.content {
  min-height: 65vh;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  float: right;
  width: 50%;
  padding: 20px 40px;
  margin-right: 200px;
  gap: 20px;
  list-style-type: none;
  font-size: 24px;
}
  /* .footer {
    flex-direction: row;
  } */
  

.nav {
  display: flex;
  padding: 10px;
  margin-right: 40px;
  gap: 20px;
  list-style-type: none;
  font-size: 24px;
}

.aboutme .row {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 40px;
}

.aboutme h2 {
  text-align: center;
}



.aboutme img {
  border-radius: 50%;
  width: 300px;
}

h3 {
  text-align: center;
}

.skillgroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.skills {
  padding: 0;
}

.skills ul {
  padding: 0;
}

.project-container {
  margin: 50px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.project li {
  list-style: none;
}

.project img {
  width: 100%;
  box-shadow: 0px 5px 15px 0px rgba(50, 50, 93, .75);
}

.project img:hover {
  box-shadow: 0px 5px 35px 0px rgba(50, 50, 93, .75);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .aboutme .row {
    flex-direction: row;
  }
  .skillgroup {
    max-height: 120px;
  }

  .project li {
    max-width: 30%;
  }

  .project {
    flex-direction: row;
  }
  
}
